.edit-post-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-post-wrapper {
  background: var(--modal-bg);
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 8px;
  width: 500px;
  gap: 1rem;
  position: relative;
}

.edit-post-userAvatar-content {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.edit-post-userAvatar-content img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.edit-post-details-wrapper {
  width: 100%;
}

.edit-post__content {
  width: 100%;
}

.edit-post__content textarea {
  width: 100%;
  height: 80px;
  background-color: var(--bg-color);
  border: none;
  padding: 0.5rem;
  resize: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.edit-post__content textarea:focus {
  outline: none;
  border: none;
}

.edit-post__img-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.edit-post__img {
  position: relative;
}

.edit-post__img svg {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.edit-post__addPostImage {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.edit-post__img-container img {
  width: 200px;
}

.edit-post__addPostImage input {
  display: none;
}

.edit-post__addPostImage svg {
  font-size: 1.5rem;
}

.edit-post__addPostImage .edit-post__addpostImageIcon {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.3rem;
}

.edit-post__cancel-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-size: 1.3rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 50%;
}
