.bookmark-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .bookmark-empty {
    height: 75vh;
  }
}
